* {
  box-sizing: border-box;
}

body {
    background-image: url("images/img.png");
    background-color: #118AB2;
    font-family: 'Roboto', sans-serif;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    color: white;
    text-align: center;
    margin: 0 0 50;
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
}

.text-button {
    background-color: white;
    align-content: center;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.text-button1 {
    color: #118AB2;
}

.text-button1:hover {
    background-color: #073B4C;
    color: white;
}

.text-button2 {
    color: #118AB2;
}

.text-button2:hover {
    background-color: #FFD166;
    color: white;
}

.text-button3 {
    color: #118AB2;
}

.text-button3:hover {
    background-color: #EF476F;
    color: white;
}

.text-button4 {
    color: #118AB2;
}

.text-button4:hover {
    background-color: #B23A48;
    color: white;
}

.text-button5 {
    color: #118AB2;
}

.text-button5:hover {
    background-color: #FED0BB;
    color: white;
}

.text-button6 {
    color: #118AB2;
}

.text-button6:hover {
    background-color: #D95D39;
    color: white;
}

.text-button7 {
    color: #118AB2;
}

.text-button7:hover {
    background-color: #6874E8;
    color: white;
}

.text-button8 {
    color: #118AB2;
}

.text-button8:hover {
    background-color: #4C0827;
    color: white;
}

.text-button9 {
    color: #118AB2;
}

.text-button9:hover {
    background-color: #100007;
    color: white;
}

.text-button10 {
    color: #118AB2;
}

.text-button10:hover {
    background-color: #91C4F2;
    color: white;
}
